.titulo_nota{
    border: 0;
}

.form-cadastro{
    display: flex;    
}

.input-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.nota-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
