.cabecalhoPrincipal .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav
{
    display: flex;
}

.rodapePrincipal-patrocinadores .container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list
{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}



.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin-right: 1%;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}